@font-face {
  font-family: 'HUGEAvantGardeBold';
  src: url("../../public/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/huge_agb_v5-webfont.woff") format("woff"), url("../../public/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("../../public/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'HUGEAvantGardeBold';
  src: url("../../public/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/huge_agb_v5-webfont.woff") format("woff"), url("../../public/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("../../public/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Galaxie';
  font-style: normal;
  font-weight: normal;
  src: url("../../public/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("../../public/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Galaxie';
  font-style: italic;
  font-weight: normal;
  src: url("../../public/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("../../public/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("../../public/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg");
}