@import "variables"

// Global
#error
  position: absolute
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  margin: 0
  font: 20vmin/1 HFont
  letter-spacing: -0.06em
  text-align: center

#close
 invisible()

#menu
  .copyright
    invisible()
  .first
    background-color: HMagenta
    div
      background-color: HMagenta !important
    &:hover
      background-color: HMagenta

#translucent-mask
  top: 0
  position: fixed
  z-index: 1
  width: 100%
  height: 100%
  background-color: HTranslucentBlack

.content
  margin: auto
  p
    text-align: justify
    margin: 0 auto 10px

.hidden
  invisible()

// End Global

// Desktop View
@media (min-width: MobileWidth)
  #nav-list
    z-index: 2
    position: absolute
    top: 0
    width: 100%
    background-color: HMagenta
    minWidthDesktop()
  #menu
    height: HNavMargin*3
    minWidthDesktop()
    .submenu
      i
        invisible()
    .brand
      margin: 0 HNavMargin*2 0 HNavMargin
      height: HNavMargin
      width: 60px
      imageBackground("/images/HUGE-white.png")
    li
      height: HNavMargin
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        display: inline-block
        padding: HNavMargin 0
        cursor: pointer
        p
          PrimaryNavigation()
        a
          PrimaryNavigation()
        div
          height: 100%
        ul
          position: absolute
          padding: 0
          margin-top: HNavMargin
          background-color: HWhite
          color: HBlack
          li
            color: HBlack
            padding: HNavSubMenuMargin 0
            display: block
            p
              SecondaryNavigation()
            a
              SecondaryNavigation()
              &:only-child
                color: HBlack
                line-height: 1
              &:hover
                color: HMagenta
            &:hover
              background-color: HLightGray
              a
                color: HMagenta
        &:hover
          background-color: HWhite
          a
            color: HMagenta
        a
          margin: 0 HNavMargin
          text-decoration: none
          letter-spacing: -0.06em
          text-align: center
          color: HWhite
          line-height: 1

  #header
    color: HWhite
    height: HeightHeader
    imageBackgroundCenter('/images/background-image.jpg')
    background-color: black;
    absoluteCenter()
    minWidthDesktop()
    h1
      HeadlineDesktop()
      text-align: center

  #hamburguer
    invisible()

  .content
    width: WidthContent
    margin-top: 60px
    BodyCopyDesktop()

  body
    minWidthDesktop()

// End Desktop View

// Mobile View
@media (max-width: MobileWidth)

  // Menus
  #menu
    width: 100%
    height: MarginMobile * 3
    minWidthMobile()
    .copyright
      height: CopyrigthHeight
    a
      text-decoration: none
      color: HBlack

  #nav-list
    padding: 0
    margin: 0
    background-color: HWhite
    .submenu
      i
        float: right
        color: HMagenta
        width: SubMenuDecorationSize
        text-align: center
        vertical-align: middle
    .first
      background-color: HMagenta
      padding: MarginMobile 0
      margin-bottom: 12px
      .brand
        margin: 0 PaddingMobile
        padding: 0
        height: HamburguerHeigth
        width: 50px
        imageBackground("/images/HUGE-white.png")
    li
      display: block
      div
        a
          padding: 0 PaddingMobile
          PrimaryNavigation()
        p
          PrimaryNavigation()
        &:hover
          background-color: HLightGray
          a
            color: HMagenta
      ul
        padding: 0
        li
          display: block
          p
            SecondaryNavigation()
          a
            SecondaryNavigation()

  #nav-list-wrapper
    height: 100%

  #close
    visibility: visible
    padding: 20px 24px
    display: block
    width: 24px
    background-color: HMagenta
    z-index: 2
    height: 20px
    cursor: pointer
    imageBackgroundCenter('/images/toggle-close.svg')

  #menu-list
    top: 0
    width: 100%
    height: 100%
    position: absolute
    minWidthMobile()

  #nav-list
    flex: 1
    height: 100%
    z-index: 2

  #menu-mobile
    z-index: 5
    position: absolute
    top: 0
    width: 100%
    background-color: HMagenta
    height: 60px
    minWidthMobile()

  #hamburguer
    width: HamburgerWidth
    height: HamburguerHeigth
    margin: MarginMobile PaddingMobile
    imageBackgroundCenter('/images/toggle-open.svg')
    display: inline-block
    cursor: pointer

  // End Menus

  #header
    .image-mobile
      height: MobileHeaderHeight
      imageBackgroundMobile('/images/background-image.jpg', MobileHeaderHeight)
      background-color: black;
    h1
      HeadlineMobile()
      text-align: left
      padding: 0 PaddingMobile
      margin: 50px 0

  .flex-container
    display: flex
    flex-flow: row wrap
    align-items: flex-start

  .content
    padding: PaddingMobile
    BodyCopyMobile()

  .hidden-mobile
    invisible()

  .invert
    i
      invert()

  body
    minWidthMobile()

// End Mobile View