@import "fonts"

// Colors
HMagenta = #ec008c
HLightGray = #eee
HTranslucentBlack = rgba(0, 0, 0, 0.5)
HWhite = #fff
HBlack = #000

// Fonts
HNavMargin = 24px

HUGEAvantGardeBold = 'HUGEAvantGardeBold'
GalaxieCopernicusBook = 'Galaxie'

PrimaryNavigation()
  font: 21px HUGEAvantGardeBold
  line-height: 48px
SecondaryNavigation()
  font: 16px GalaxieCopernicusBook
  line-height: 48px
HeadlineDesktop()
  font: 120px HUGEAvantGardeBold
  line-height: 132px
BodyCopyDesktop()
  font: 24px GalaxieCopernicusBook
  line-height: 36px
HeadlineMobile()
  font: 44px HUGEAvantGardeBold
  line-height: 48px
BodyCopyMobile()
  font: 14px GalaxieCopernicusBook
  line-height: 24px
CopyrightMobile()
  font: 12px 'Helvetica Neue Regular'
  line-height: 16px

// Sizes
HNavMargin = 24px
HNavSubMenuMargin = 12px
HeightHeader = 640px
WidthContent = 968px
MobileWidth = 768px
PaddingMobile = 24px
MarginMobile = 20px
MenuMobileHeigth =12px
SubMenuDecorationSize = 48px
MobileHeaderHeight = 240px
MinWidthMobile = 315px
CopyrigthHeight = 48px

// Hamburger
HamburguerHeigth = 20px
HamburgerWidth = 24px

// Functions

invisible()
  display: none
  visibility: hidden

imageBackground(pathUrl)
  background-image: url(pathUrl)
  background-size: auto 100%
  background-repeat: no-repeat
  background-position: left top

imageBackgroundMobile(pathUrl, imgHeight)
  background-image: url(pathUrl)
  background-size: auto imgHeight
  background-repeat: no-repeat
  background-position: center top

imageBackgroundCenter(pathUrl)
  background-image: url(pathUrl)
  background-size: auto
  background-repeat: no-repeat
  background-position: center

minWidthMobile()
  min-width: MinWidthMobile

minWidthDesktop()
  min-width: WidthContent

invert()
  degs = 180deg
  // Safari
  -webkit-transform: rotate(degs)
  // Firefox
  -moz-transform: rotate(degs)
  // IE
  -ms-transform: rotate(degs)
  // Opera
  -o-transform: rotate(degs)

absoluteCenter()
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;